<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="6710fd79-7166-4609-b159-e448e7062b08" name="TestSuite_RDGuest7" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="6710fd79-7166-4609-b159-e448e7062b08fileName">TestSuite_RDGuest7</con:setting></con:settings><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>